@import url('https://fonts.googleapis.com/css?family=Bad+Script');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Bad Script', cursive;
    background: #000;
    background-blend-mode: hard-light;
    background-image: linear-gradient(rgba(6, 6, 6, 0.9), rgba(0, 0, 0, 0.9)),
      url(https://images.pexels.com/photos/1227515/pexels-photo-1227515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-blend-mode: hard-light;
}

h1{
    font-size: 100px;
    color: #111;
    
}
.presentation-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
    margin: 1rem;
    height: fit-content;
    
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin: 1rem;
}
.presentation h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    
}

.srl{
    background: #f39810;
    height: 120px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    animation: animateSRL 2s linear infinite;
    
}

.presentation h1 span{
    
    display: table-cell;
    animation: animate 2s linear infinite;
}


h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.50s;
}
h1 span:nth-child(3){
    animation-delay: 0.8s;
}
h1 span:nth-child(4){
    animation-delay: 1.25s;
}
h1 span:nth-child(5){
    animation-delay: 1.6s;
}

@keyframes animate {
    0%,100%{
        color: #ffffff;
        filter: blur(2px);
        text-shadow: 0 0 10px #f39810,
        0 0 20px #f39810,
        0 0 40px #f39810,
        0 0 80px #f39810,
        0 0 120px #f39810;
        transform: translateY(-10px);
        /* 00b3ff */
    }
    15%,85%{
        color: #313030;
        filter: blur(0px);
        text-shadow:none;
        transform: translateY(0px);
    }    
}

@keyframes animateSRL {
    0%{
        box-shadow: 0 0 10px #f39810,
        0 0 20px #f39810,
        0 0 40px #f39810;
        
    }
    100%{
        box-shadow: none;
    }    
}




.menu-section{
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.menu-section .slider-category-container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.menu-section .slider-category{
    
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    
    list-style: none;
    overflow: auto;
    cursor: pointer;
}

.menu-section .slider-category li{
    padding-left: 1rem;
    text-align: center;
    min-width:100px;
    height: 50px;
}

.menu-section .slider-category li a{
    color: #f39810c0
}

.menu-section .slider-category li:hover a,
.menu-section .slider-category li:active a,
.menu-section .slider-category li:focus a{
        color: #f39810;
        text-shadow: 0 0 10px #f39810;
}

.menu-section .line-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    flex-direction: row;
}

.menu-section .line{
    
    width: 95%;
    margin: 0 .7rem;
    height: 2px;
    background: #f39810;
    box-shadow: 0 0 10px #f39810,
        0 0 20px #f39810,
        0 0 40px #f39810,
        0 0 80px #f39810,
        0 0 120px #f39810;
    border-radius: 20px;
}


.line-menu h1{
    position: relative;
    font-size: 55px;
    color: #f39810;    
    height: 60px;
    padding-bottom: 3rem;
}


.menu-category-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.menu-category-container .line-category-menu{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: relative;
    margin-left: 1rem;
    
}

.line-category-menu h1{
    font-size: 35px;
    color: #f39810;
}

.menu-category-container .category-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    
}

.category-list .category-container{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.product-list{
    width: 95%;
}

.product-list .product{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invers{
    flex-direction:row-reverse;
    margin: 0 ;
}

.product img{
    width: 30%;
}

.product .product-details{
    width: 70%;
    
}

.product p{
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.product span{
    font-weight: bold;
    font-size: 25px;
    color: #f39810;
    margin: 0;
}


.carousel-control-next, .carousel-control-prev {
    opacity: .8;
    background: transparent;
    border: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 30px; 
}



@media (max-width:725px){
    
    .category-list .category-container{
        width: 100%;
    }
    
}


@media (max-width:570px){
    
    .presentation h1{
        font-size: 65px;
    }
    .presentation{
        width: 100%;    
    }
    .srl{
        height: 80px;
        margin-top: 0;
    }
    .menu-section .slider-category-container{
        width: 95%;
    }
   
}

@media (max-width:400px){
    
    .product p{
        font-size: 12px;
    }
    .product span{
        
        font-size: 20px;
       
    }

    .presentation h1{
        font-size: 50px;
    }

    .srl{
        height: 60px;
        margin-top: 0;
    }

    .line-menu h1{
        position: relative;
        font-size: 40px;
        color: #f39810;    
        height: 60px;
        padding-bottom: 1rem;
    }

    
    
}



@media (max-width:360px){
    h1{
        font-size: 85px;
    }

    .neon-container{
        margin: 2rem;
    }

   

    
}



