{% extends 'base.html' %} 
{% load static %}


{% block contenido %}
<script>
    var contador = 2; 
</script>
    
<section class="menu-section">
    <div class="line-menu">
        <div class="line"></div>
        <h1>Menú</h1>
        <div class="line"></div>
        
        
    </div>
    {% if categories %}
        <div class="slider-category-container">
            <ul class="slider-category">
                {% for category in categories %}
                <li><a href="#{{category.category_name}}">{{category.category_name}}</a> </li>
                {% endfor %}
            </ul>
        </div>
        
    {% endif %}
    
    <div class="menu-category-container">
        <ul class="category-list">
            {% if categories %}
                {% for category in categories %}
                    
                    <li class="category-container">
                        <div id="{{category.category_name}}" class="line-category-menu">
                            <h1>{{category.category_name}}</h1>
                        </div>
                        <ul class="product-list">
                                {% for product in products %}
                                
                                    {% if category.category_name == product.category.category_name %}
                                        <script>
                                            if (contador % 2 === 0) {
                                                document.write('<li class="product"><img src="'+'{{ product.imagen.url }}'+'" alt=""><div class="product-details"><span>'+'{{product.product_name}}'+'</span><p>'+'{{product.ingredients}}'+'</p><span>$ '+'{{product.product_value}}'+' cup</span></div></li><br>');
                                            } else {
                                                document.write('<li class="product invers"><img src="'+'{{ product.imagen.url }}'+'" alt=""><div class="product-details"><span>'+'{{product.product_name}}'+'</span><p>'+'{{product.ingredients}}'+'</p><span>$ '+'{{product.product_value}}'+' cup</span></div></li><br>');
                                                }
                                        </script>
                                        <script>
                                            contador++;
                                        </script>
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </li>
                    <script>
                        if (contador % 2 === 0) {
                            var contador = 2;
                        }
                        else{
                            var contador = 3;
                        }
                    </script>
                {% endfor %}
            {% endif %}
            
            
        </ul>
    </div>
</section>

{% endblock %}